html, body {
	height: 100% !important;
	margin:0;
	color:#545c5f;
	font:12px "Trebuchet MS", Helvetica, sans-serif;
	background:#dfe6e9;
	min-width:1000px;
}

/* header */
.lheader-wrap{
	background: url(../images/bg-header02.png) repeat-x;
}
#lheader{
	background: url(../images/bg-header.png) no-repeat 50% 0;
	height: 124px;
	position:relative;
	z-index:102;
}
.lheader-holder{
	width:900px;
	margin:0 auto;
	padding:23px 0 0;
}
.lheader-holder:after{
	content:"";
	display:block;
	clear:both;
}
#lheader .logo{
	float:left;
	margin:0 0 0 -1px;
	width: 102px;
	height: 30px;
	text-indent:-9999px;
	overflow:hidden;
}
#lheader .logo a{
	display:block;
	height:100%;
	background: url(../images/logo.png) no-repeat;
}
.lform-wrap{
	width:100%;
	overflow:hidden;
}

#main{
	width:900px;
	margin:0 auto;
	padding-bottom:70px;
}




/* navigation */
#nav{
	list-style:none;
	margin:0 -8px 0 0;
	padding:0 0 13px;
	float:right;
	display:inline;
}
#nav li{
	float:left;
	padding:0 0 20px;
	position:relative;
	margin-right:8px;
}
#nav li:hover,
#nav .active{
	background: url(../images/bg-nav-l.gif) no-repeat;
}
#nav li:hover{
	z-index:10;
}
#nav a{
	float:left;
	font-size:14px;
}
#nav li:hover a,
#nav .active a{
	background: url(../images/bg-nav-r.gif) no-repeat 100% 0;
	text-decoration:none;
}
#nav .home{
	background: url(../images/btn-home.gif) no-repeat;
	width: 27px;
	height: 25px;
	text-indent:-9999px;
	overflow:hidden;
	padding:0;
}
#nav li:hover .home,
#nav .active .home{
	background: url(../images/btn-home.gif) no-repeat 0 -25px;
}
#nav a span{
	float:left;
}
#nav .with-drop span{
	background: url(../images/arrow.png) no-repeat 100% 10px;
}
#nav a em{
	float:left;
	height:20px;
	padding:4px 10px 6px;
	color:#fff;
	cursor:pointer;
	font-style:normal;
	line-height:14px;
}
#nav .with-drop em{
	padding-right:22px;
}
#nav li:hover .with-drop em{
	background: url(../images/arrow02.gif) no-repeat 49% 100%;
}
#nav .active .with-drop em{
	background:none;
}
#nav ul{
	position:absolute;
	top:49px;
	left:-38px;
	width:163px;
	display:none;
	list-style:none;
	margin:0;
	padding:1px 0 13px;
	background: url(../images/bg-drop.png) no-repeat 0 100%;
}
#nav ul li{
	float:none;
	margin:0;
	padding:10px 0 0 16px;
	width:147px;
	vertical-align:middle;
}
#nav ul li:after{
	content:"";
	display:block;
	clear:both;
}
#nav li:hover li{background:none;}
#nav li li a,
#nav li:hover li a{
	color:#b7b7b7;
	background:none;
	display:block;
	font-size:12px;
	width:137px;
}
#nav ul li .with-drop{
	background: url(../images/bg-arrow.png) no-repeat 100% 5px !important;
}
#nav ul li:hover .with-drop{
	background: url(../images/bg-arrow02.png) no-repeat 100% 5px !important;
}
#nav li li a:hover{color:#fff;}
#nav ul ul{
	left:163px;
	top:-1px;
}
#nav li:hover li ul{
	visibility:hidden;
}
#nav li:hover li:hover ul{
	visibility:visible;
}
/* navigation end */





/* footer */
#footer{
	background: url(../images/bg-footer03.png) repeat-x;
}
.footer-holder{
	width:900px;
	margin:0 auto;
	padding:26px 0 18px;
	overflow:hidden;
}
.threecolumns{
	width:940px;
	overflow:hidden;
}
.threecolumns .column{
	float:left;
	width:276px;
	padding-right:37px;
}
.threecolumns h3{
	margin:0 0 25px;
	font-size:28px;
	line-height:28px;
	color:#fff;
}
.threecolumns p{
	margin:0 0 19px;
	color:#fff;
}
.threecolumns .tweet-box{
	height:1%;
	overflow:hidden;
	margin:0 0 18px;
}
.threecolumns .tweet-box p{
	margin:0;
}
.threecolumns .tweet-box p a{
	color:#588dc2;
}
.threecolumns .tweet-box .date{
	font-size:10px;
	color:#646464;
}
.threecolumns .subscribe-form{
	width:100%;
	overflow:hidden;
	margin-bottom:27px;
}
.threecolumns .subscribe-form .text-wrap{
	float:left;
	background: url(../images/bg-input03.gif) no-repeat;
	width: 161px;
}
.threecolumns .subscribe-form .text{
	float:left;
	margin:0;
	padding:4px 10px;
	border:0;
	background:none;
	width:141px;
	height: 17px;
}
.threecolumns .subscribe-form .submit{
	float:right;
	background: url(../images/bg-submit02.png) no-repeat;
	width: 106px;
	height: 25px;
	padding:0;
	border:0;
	cursor:pointer;
	font-size:0;
	letter-spacing:-1000px;
}
.threecolumns .social-list{
	list-style:none;
	margin:0;
	padding:6px 0 0 8px;
	background: url(../images/bg-social-box.png) no-repeat;
	width: 268px;
	height: 39px;
	position:relative;
	overflow:hidden;
}
.threecolumns .social-list li{
	float:left;
	width:32px;
	padding-right:6px;
}
.threecolumns .social-list a{
	display:block;
	width:32px;
	position:relative;
	height:33px;
}
.fadeThis * {
	  display: none;
}
.threecolumns .social-list span{
	text-indent:-9999px;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
	width:32px;
	height:33px;
	cursor:pointer;
}
.threecolumns .social-list .social1{
	background: url(../images/bg-social01.png) no-repeat;
}
.threecolumns .social-list .social2{
	background: url(../images/bg-social02.png) no-repeat;
}
.threecolumns .social-list .social3{
	background: url(../images/bg-social03.png) no-repeat;
}
.threecolumns .social-list .social4{
	background: url(../images/bg-social04.png) no-repeat;
}
.threecolumns .social-list .social5{
	background: url(../images/bg-social05.png) no-repeat;
}
.threecolumns .social-list .social6{
	background: url(../images/bg-social06.png) no-repeat;
}
.threecolumns .social-list .social7{
	background: url(../images/bg-social07.png) no-repeat;
}
.threecolumns .social-list .social1 span{
	background: url(../images/bg-social01-h.png) no-repeat;
}
.threecolumns .social-list .social2 span{
	background: url(../images/bg-social02-h.png) no-repeat;
}
.threecolumns .social-list .social3 span{
	background: url(../images/bg-social03-h.png) no-repeat;
}
.threecolumns .social-list .social4 span{
	background: url(../images/bg-social04-h.png) no-repeat;
}
.threecolumns .social-list .social5 span{
	background: url(../images/bg-social05-h.png) no-repeat;
}
.threecolumns .social-list .social6 span{
	background: url(../images/bg-social06-h.png) no-repeat;
}
.threecolumns .social-list .social7 span{
	background: url(../images/bg-social07-h.png) no-repeat;
}
.threecolumns .contact-list{
	margin:0 0 14px;
	color:#fff;
	line-height:18px;
}
.threecolumns .contact-list dt{
	float:left;
	width:72px;
}
.threecolumns .contact-list dd{margin:0;}
.threecolumns .contact-list a{color:#fff;}
.threecolumns .map-holder{
	background: url(../images/bg-map.png) no-repeat;
	width: 262px;
	height: 109px;
	padding:6px;
}
.loader{
	position:absolute;
	top:43%;
	left:44%;
	margin-left:3px;
}
.footer-wrap{
	background: url(../images/bg-footer.png) no-repeat 50% 0;
	width:100%;
	overflow:hidden;
}
#footer .copy-wrap{
	background: url(../images/bg-footer02.png) repeat-x;
	height: 40px;
	margin-top:-4px;
	position:relative;
}
#footer .copy-holder{
	width:900px;
	margin:0 auto;
	overflow:hidden;
	padding:13px 0 0;
}
#footer .copy-holder .copy{
	float:left;
	color:#fff;
	text-shadow:#000 1px 0 0;
}
#footer .copy-holder .design{
	float:right;
	color:#fff;
	font-style:italic;
	line-height:15px;
	text-decoration:none;
}
/* footer end */